// Font
$mainFont: "Rubik";

// Size
$mainFontColor: #25282c;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$blackout: rgba(0, 0, 0, 0.561);
$neutralMenuColor: rgb(240, 180, 120);
$primaryColor: rgb(83, 83, 83);
$primaryColorPartical: rgba(83, 83, 83, .4);
$secondaryColor: rgb(128, 0, 0);
$dangerColor: rgb(197, 35, 35);
$warningColor: rgb(240, 155, 70);
$shadowColor: rgba(0, 0, 0, 0.2);
$borderColor: rgba(43, 43, 43, 0.812);
$containerColor: rgba(242, 255, 168, 0.459);
$textAreaColor: rgba(255, 255, 255, 0.898);
$textAreaShadowColor: rgba(0, 0, 0, 0.342);
$successColor: rgba(69, 184, 94, 0.932);

$mainFontColorDark: rgb(148, 148, 148);
$neutralMenuColorDark: rgb(51, 51, 54);
$warningColorDark: darken($warningColor, 20%);
$warningColorDarken: darken($warningColor, 5%);
$containerColorDark: rgba(34, 34, 38, 0.855);
$toggerColorDark: rgb(34, 34, 38);
$textAreaColorDark: rgb(68, 68, 70);
$textAreaShadowColor: rgba(0, 0, 0, 0.342);
$blackoutDark: rgba(255, 255, 255, 0.199);