.button {
    outline: none;
    transition: 0.5s all;
    background: none;
    cursor: pointer;
    border-radius: 5px 20%;
    border: 3px solid $neutralMenuColor;
    padding: 5px 10px;
    font-size: rem(26);
    color: $primaryColor;
    &:hover {
        border: 3px solid transparent;
        background: $warningColor;
        color: $mainFontColor;
        @include shadow();
    }
}
