.button {
    outline: none;
    transition: 0.5s all;
    background: none;
    cursor: pointer;
    border-radius: 5px 20%;
    border: 1px solid $neutralMenuColor;
    padding: 5px 10px;
    font-size: rem(22);
    color: $primaryColor;
    &:hover {
        border: 1px solid transparent;
        background: $warningColor;
        color: $mainFontColor;
        @include shadow();
    }

    &.button-dark {
        background: $neutralMenuColorDark;
        color: $mainFontColorDark;
        border: 1px solid darken($warningColor, 5%);

        &:hover,
        &:focus,
        &:active {
            border: 1px solid darken($warningColor, 5%);
            background-color: lighten($neutralMenuColorDark, 4%);
        }
    }
}
