// Font
$mainFont: "Rubik";

// Size
$mainFontColor: #131518;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$blackout: #0000008f;
$neutralMenuColor: #f0b478;
$primaryColor: #535353;
$secondaryColor: #800000;
$warningColor: #f09b46;
$shadowColor: #00000033;
$borderColor: #2b2b2bcf;
$containerColor: #f2ffa875;

$mainFontColorDark: #949494;
$neutralMenuColorDark: #333336;
$warningColorDark: darken($warningColor, 20%);
$containerColorDark: #222226da;