.toast {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    @include center;
    background: $blackout;
    animation: stretchCenter ease 0.7s;
    animation-fill-mode: forwards;
    &__wrapper {
        opacity: 0;
        animation: fadeIn ease 0.4s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
        font-size: rem(40);
        text-align: center;
    }
}
