.toggler {
    z-index: 2;
    position: fixed;
    left: rem(10);
    bottom: rem(10);
    width: rem(60);
    height: rem(60);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: togglerColor 1s ease;
    animation-fill-mode: forwards;
    transition: .1s all;

    &-lang {
        left: rem(10);
        bottom: rem(75);
        animation: none;
    }

    &-dark {
        animation-direction: reverse;
    }

    &:hover {
        transform: scale(.98);
    }

    &:active, :focus {
        transform: scale(.96);
    }
}

.eng {
    background: url("/assets/img/eng.png") 50% / cover;
}

.rus {
    background: url("/assets/img/rus.png") 50% / cover;
}

@keyframes togglerColor {
    0% {
        background: $warningColorDark;
        color: $toggerColorDark;
        border: 1px solid $toggerColorDark;
    }
    to {
        background: $toggerColorDark;
        color: $neutralMenuColor;
        border: 1px solid $neutralMenuColor;
    }
}
